.venv/
.obsidian/
site/

# OS or Global
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editors
.vs/
.vscode/
*.user/
*.userprefs/
*.suo
*.cache
*.pidb
*.pdb
*.mdb

# jetbrains user specific
*.DotSettings.user

# logs
*.log
npm-debug.log*
yarn-error.log*

# Ignore ParrelSync clones
*_clone
*_clone_*
