site_name: Echoes of Bathala Documentation
site_description: This site provides the Internal and Research Documentation, and Project Guidelines.
site_author: Mark Amarille; Ron Bugarin; Matthew Molina; Andrei Dimasaka

theme:
  name: material
  custom_dir: docs/overrides

  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky

    - navigation.top
    - search.suggest
    - content.tabs.link
    - content.code.copy

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - mermaid2

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - footnotes
  - def_list
  - admonition
  - attr_list
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

extra_css:
  - css/custom.css

copyright: |
  © 2025 Echoes of Bathala — Internal Documentation
